body{
	font-family: 'Helvetica Neue';
	font-weight:300;
}

/*common style start here*/

.btn-primary {
    color: #fff;
    background-color: #fff;
    border-color: #fff;
}



a { color: #FFF; }
a[href]:link { color: #FFF; }
a[href]:hover { color: #FFF; }


@media(min-width: 1401px){
	.container{
		max-width: 1400px;
	}
}
/*common style end here*/

header {
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.15);
  width: 100%;
  position: relative;
  z-index: 11;
}

header .bg-light {
	 background-color: rgb(255, 255, 255) !important;
	 padding-top: 0;
	 padding-bottom: 0;
}
header .navbar-expand-lg .navbar-nav .nav-link{
	padding-left: 2.5rem;
	padding-right:  2.5rem;
	padding-top: 1.67rem;
	padding-bottom: 1.67rem;
	font-size: 14px;
	font-family: 'Helvetica Neue';
	font-weight: 400;
	color: #000000;
	transition: all 0.5s ease-in-out;
	min-height: 80px;
}
header .navbar-expand-lg .navbar-nav .active .nav-link , header .navbar-expand-lg .navbar-nav .nav-link:hover , header .navbar-expand-lg .navbar-nav .nav-link:focus ,header .navbar-expand-lg .navbar-nav .nav-link:active{
	background:#e9e9e9;
}
.navbar-light .navbar-brand {
	padding: 0;
}

/*slider style start here*/

.c_slide_inner  {
	min-height: calc(100vh - 40px);
	position: relative;
}
.hero_slider  .slick-prev, .hero_slider   .slick-next{
	display: none !important;
}

.slick-prev {
	left: 25px;
}
.slick-next {
	right: 25px;

}


.hero_slide_content {
	width: 100%;
	position:absolute;
	top: 50px;
	left: 0;
	height: 100%;
}

h1 {
	font-size: 84px;
	font-family: 'Baskerville BT';
	color: #000;
	margin-top: 0;
}
.hero_slide_content p {
	font-size: 28px;
	color: #000;
	font-family: 'Helvetica Neue';
	font-weight: 500px;
	width: 558px;
	max-width: 100%;

}
.black-hero.btn {
	font-family: 'Helvetica Neue';
	background: #000;
	font-size: 24px;
	font-weight: 900;	
	color: #fff;
	text-transform: uppercase;
	width: 500px;
	max-width: 100%;
	text-align: center;
	border-radius: 4px;
	background-color: #4b75df;
}

.section{
	padding-top: 140px;
	width: 100%;	
}
.has-text-centered{
	text-align: center !important;
}
.section h2 , .section-title h3 {
	font-size: 60px;
	color: #000;
	margin-top: 40px;
	font-family: 'Baskerville BT';
	margin-bottom: 35px;
}
.our-community {
	padding-top: 5px;
}
.our-community h2 {
	font-size: 60px;
	color: #000;
	margin-top: 0px;
	font-family: 'Baskerville BT';
	margin-bottom: 35px;
}

.has-slogan {
	font-size: 28px;
	color: #000;
	font-family: 'Helvetica Neue';
	font-weight: 300;
	margin-bottom: 100px;	
}
.med-sec .container {
	max-width: 1200px;
}
.call-to-action a{
	background: url(../images/virtualTour.jpg) no-repeat 0 0;
	background-size: cover;
	min-height: 350px;
	width: 100%;
	text-align: center;
	text-decoration: none;
}
.call-to-action a h3 , .white_shadow{
	width: 100%;
	color: #fff;
	font-size: 72px;
	font-family: 'Baskerville BT';
	text-shadow: 0px 3px 6px rgba(0, 0, 0, 0.75);
	-webkit-text-shadow: 0px 3px 6px rgba(0, 0, 0, 0.75);
	-moz-text-shadow: 0px 3px 6px rgba(0, 0, 0, 0.75);
}

.service_content h4{
	font-family: 'Helvetica Neue';
	font-weight: 900;
	color: #000;
	width: 100%;
	text-align: center;
	font-size: 28px;
	margin-top: 0;
}
.service_content p{
	font-family: 'Helvetica Neue';
	font-weight: 300;
	color: #000; 
	font-size: 26px;
	text-align: center;
	line-height: 40px;
}
.service_icon_area {
	width: 100%;
	text-align: center;
	margin-bottom: 35px;
}
.full-width {
	width: 100%;
}
.bg_experience {
	min-height: 550px;
	background: url(../images/aspenCreekExperience.jpg) no-repeat 0 0;
}
.pda-55 {
	padding: 55px;
}

.banner_title_parallax p{
	font-size: 28px;
	font-family: 'Helvetica Neue';
	font-weight: 300;
	color: #000;
}
.map_section {
	width: 100%;
	height: 450px;
	padding-top: 0;
}
.map_section iframe{
	width: 100%;
	height: 100%;

}

/*footer style start here*/
footer {
	width: 100%;
	background: #121212;	
}
.footer_row1 {
	width: 100%;
	padding: 50px 95px; 
	border-bottom: 1px solid #333333;
}
.brand_footer  {
	margin-right: auto;
}
.social-media  {
	margin-left: auto;
}
.social-media ul {
	list-style: none;
}
.social-media ul li{
	margin-left: 50px;
}
.footer_row2{
	width: 100%;
	padding: 40px 95px; 
	border-bottom: 1px solid #333333;
}
.address_area {
	position: relative;
}
.address_area p {
	font-weight: 500px;
	font-family: 'Helvetica Neue'; 
	line-height: 20px;
	font-size: 14px;
	color: #ffffff;
}
.iconx {	
	width: 36px;		
}
.footer_row2 h4 ,  .footer_row2 h4 a{
	font-size: 15px;
	font-weight: 900;
	color: #fff;
	font-family: 'Helvetica Neue'; 
	text-decoration: none;
	letter-spacing: normal;
}
.footer_row2 ul{
	list-style: none;padding:0; 
}
/*footer style end here*/



.footer_row2 ul li a {
	font-size: 12px;
	color: #fff;
	font-family: 'Helvetica Neue'; 
	font-weight: 400;	
}
.footer_row3{
	width: 100%;
	padding: 40px 95px; 
}
.footer_row3 p {
	color: #fff;
	font-size: 14px;
	margin-bottom: 0;

}


/*guided tour page start here*/
.bg_experience.guidedtour{
	background-image: url(../images/guide_bg.jpg);
}
.form_area_guide.section {
	padding-top: 95px;
}
.form_container  {
	width: 800px;
	margin: 0 auto;
	max-width: 100%;
}
.form_area_guide.section h2 {
	font-size: 	48px;
}
.form-control {
	border:1px solid #f1f1f1;
	border-radius: 0;
	background-color: #f7f7f7;
	height: 51px;
	width: 100%;
	line-height: 49px;
	transition: all 0.7s linear; 
}
.form-control:focus {
	box-shadow: none;
	border-color: #222;
}
.form-group label{
	font-family: 'Helvetica Neue'; 
	font-size: 28px;
	font-weight: 300;
	color: #000;
}
.form_note {
	font-family: 'Helvetica Neue'; 
	font-weight:700;
	font-size: 28px;
	color: #000;
	font-style: italic;
}

.btn-black-jambo {
	background-color: #000;
	border-radius: 0;
	border:0;
	color: #fff;
	font-size: 28px;
	font-family: 'Helvetica Neue'; 
	margin:40px auto;
	width: 500px;
	max-width: 100%;
	height: 71px;
	

}
.micro p{
	font-family: Arial;
	font-size: 6px;	
	color: #121212;
}	

.faq_section  h5{
	padding: 0;
}
.faq_section  h5 button {
	width: 100%;
	text-align: left;
}
.faq_section .card-header:first-child {
	border-radius: 0;
}
.faq_section .card-header {
	background-color: #fafafa;
	border-bottom: 0;	
	padding-left: 2rem;
	padding-right: 2rem;

}
.faq_section .card-header button {
	color: #000;
	font-size: 36px;
	font-family: 'Baskerville BT';
	padding-right: 150px;
	position: relative;
	text-decoration: none;
}
.faq_section .card-header button:after {
	height: 5px ;
	width: 21px;
	background-color: #000;
	content: "";
	position: absolute;
	right: 50px;
	top: 50%;
}
.faq_section .card-header button:before{
	height: 21px ;
	width: 5px;
	background-color: #000;
	content: "";
	position: absolute;
	right: 58px;
	bottom: calc(50% - 13px);	
	transition: all 0.7s linear;
	-webkit-transition: all 0.7s linear;
	-moz-transition: all 0.7s linear;
}
.faq_section .card-header button.collapsed:before{
	height: 0;
}
.faq_section  .card-body{
	background-color: #fafafa;
	padding-left: 3rem;
	padding-right: 3rem;
	font-family: 'Helvetica Neue'; 
	font-size: 28px;
	
}
.faq_section .card{
	margin-bottom: 10px;
}
.faq_section  .card-body b {
	font-weight: 500;	
}
.faq_section  .card-body p{
	font-weight: 300;
	margin-bottom: 50px;
} 
.faq_section  .card-body p:last-child{
	margin-bottom: 0;
}
.faq_section  .card-body a{
	color: #0000ee;	
}
.faq_section{
	margin-bottom: 50px;
}
.info_area_contact {
	margin-bottom: 50px;
}
.info_area_contact h3{
	font-size: 36px;
	font-family: 'Helvetica Neue';  
	margin-top: 0;
	margin-bottom: 15px;
	color: #000;
	font-weight: 900;
}
.section.contact_information{padding-top: 90px;padding-bottom: 50px;}

.info_area_contact p , .info_area_contact p a {
	font-size: 28px;
	color: #000;
	font-weight: 300;
	font-family: 'Helvetica Neue';  
}
.info_area_contact p.icon {
	padding-left: 44px;
	position: relative;
}
.info_area_contact p.icon:before{
	position: absolute;
	top: 8px;
	left: 0;
	height: 32px;
	width: 32px;
	content:"";
	background-repeat: no-repeat;
	background-size: cover; 
}
.info_area_contact p.icon.icon-phone:before{
	background-image: url(../images/telephone.png);
}
.info_area_contact p.icon.icon-email:before{
	background-image: url(../images/email.png);
}

.info_area_contact p.icon.icon-address:before{
	background-image: url(../images/placeholder.png);
}

.info_area_contact p.icon.icon-hour:before{
	background-image: url(../images/calendar-in-a-circle-interface-symbol.png);
}
.pg-contact .section-title p{
	font-size: 28px;
	text-align: left;
	margin-bottom: 30px;
	margin-top: 30px;
}
.pg-contact .section-title p b{display: block;
text-align: left;}
.chat-box.active{display: block;}
.chat-box {
	position: fixed;
	right: 25px;
	top: 50%;
	background: #000;
	height: 45px;
	width: 45px;
	border-radius: 100%;
	padding: 8px;
	display: none;
}
.chat-box a {
	display: inline-block;
	width: 100%;
}
.pg-LIVING .bg_experience {	
	background: url(../images/headerImage_LAAC.jpg) no-repeat 0 0;
}
.cms_content_area h3{
	font-size: 48px;
	font-family: 'Baskerville BT'; 
	color: #000;
	margin-top: 0;
}
.cms_content_area h4 {
	font-size: 48px;
	font-family: 'Baskerville BT'; 
	color: #000;
	margin-top: 0;	
}
.cms_content_area p{
	font-size: 22px;
	font-weight: 300;
}
.mt-100{
	margin-top: 100px;
}
.pg-LIVING .total_wellness .bg_experience {	
	background: url(../images/physicalTherapy_LAAC.jpg) no-repeat 0 0;
}

.mb-100{
	margin-bottom: 100px;
}
.virtual_img_area {
	min-height: 250px;
	width: 100%;
	background-size: cover;
	background-repeat: no-repeat;
}
.virtual_img_area h5 {
	width: 100%;
	color: #fff;
	font-weight: 700;
	text-decoration: none;
	margin: 0;
	font-size: 30px;
	
}
.mb-30{
	margin-bottom: 30px;
}

.footer-background {
	background-image: url(../images/aspencreek-symbol_grey.png);
	background-repeat: no-repeat;
	background-position: center;
}

